# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Reda\Documents\Dev Django\Django+CMS+Grafikart\IPSSI\28Janvier,BigData\djangoDash\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
